/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

#experience-container .ant-timeline .ant-timeline-item-last .ant-timeline-item {
    padding-bottom: 0;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-label {
    width: 15%;
    top: -3px;
    position: absolute;
    text-align: right;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-head {
    width: 16px;
    height: 16px;
    left: calc(15% + 14px);
    border-width: 1.5px;
    top: 0;
    background-color: black;
}

#experience-container .ant-timeline .ant-timeline-item-last .ant-timeline-item-tail {
    display: none;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-tail {
    height: calc(100% - 20px);
    top: 16px;
    left: calc(15% + 21px);
    border-width: 1.5px;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-content {
    width: calc(85% - 41px);
    left: calc(15% + 15px);
    top: -4px;
}

@media all and (max-width: 591px) {
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-label {
        width: 69px;
    }
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-head {
        left: 83px;
    }
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-tail {
        left: 90px;
    }
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-content {
        left: 83px;
        width: calc(100% - 109px);
    }
}