/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general style of experience layout */

#experience-container .ant-timeline .ant-timeline-item {
    padding-bottom: 2em;
}

#experience-container .ant-timeline .ant-timeline-item-last .ant-timeline-item {
    padding-bottom: 0;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-label {
    width: 15.5%;
    top: -1px;
    position: absolute;
    text-align: right;
    line-height: 1.3;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-head {
    width: 16px;
    height: 16px;
    left: calc(15.5% + 14px);
    border-width: 1.5px;
    top: 0;
    background-color: black;
}

#experience-container .ant-timeline .ant-timeline-item-last .ant-timeline-item-tail {
    display: none;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-tail {
    height: calc(100% - 20px);
    top: 16px;
    left: calc(15.5% + 21px);
    border-width: 1.5px;
}

#experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-content {
    width: calc(84.5% - 41px);
    left: calc(15.5% + 15px);
    top: -4px;
    /*margin-bottom: 3em;*/
}

@media all and (max-width: 591px) {
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-label {
        width: 72px;
    }
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-head {
        left: 86px;
    }
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-tail {
        left: 93px;
    }
    #experience-container .ant-timeline .ant-timeline-item .ant-timeline-item-content {
        left: 86px;
        width: calc(100% - 112px);
    }
}