// Copyright 2020 Antoine Orgerit. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/dark.less';

@primary-color: #B9A563;
@text-color: white;

@timeline-color: @primary-color;

@divider-color: rgba(185, 165, 99, 0.5);

@tag-default-color: @primary-color;