/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general layout style */

#root {
    height: 100vh;
}

#global-container {
    position: relative;
    min-height: 100%;
}

#global-container .ant-layout {
    flex-grow: 1;
}

#global-container .ant-layout .ant-layout-content {
    width: 80%;
    max-width: 950px;
    margin: 75px auto 100px auto;
    flex: none;
    overflow-x: initial;
}

#global-container .ant-layout .ant-layout-content > div > h3 {
    text-transform: uppercase;
    letter-spacing: 1.3pt;
    color: #B9A563;
    border-bottom: 1px solid #B9A563;
    padding-bottom: 5px;
    margin-bottom: 40px;
}