/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general layout style */

#root {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
}

#root::before {
    content: "";
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: url('./resources/logo-background.svg');
    background-position: center center;
    background-size: min(50vh, 70vw);
    background-repeat: no-repeat;
    background-attachment: local;
}

#global-container {
    position: relative;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

#global-container .ant-layout {
    flex-grow: 1;
    background: transparent;
}

#global-container .ant-layout .ant-layout-content {
    width: 80%;
    max-width: 950px;
    margin: 75px auto 100px auto;
    flex: none;
    overflow-x: initial;
}

#global-container .ant-layout .ant-layout-content > div > h3 {
    text-transform: uppercase;
    letter-spacing: 1.3pt;
    color: #B9A563;
    border-bottom: 1px solid #B9A563;
    padding-bottom: 5px;
    margin-bottom: 40px;
}